<ol class="breadcrumb">
    <li><a href="{{ site.url }}">Home</a></li>
    {% if function('is_year') %}
        <li class="active">{{ breadcrumbs.year.name }}</li>
    {% elseif function('is_month') or function('is_day') %}
        <li><a href="{{ breadcrumbs.year.link }}">{{ breadcrumbs.year.name }}</a></li>
        {% if function('is_month') %}
            <li class="active">{{ breadcrumbs.month.name }}</li>
        {% elseif function('is_day') %}
            <li><a href="{{ breadcrumbs.month.link }}">{{ breadcrumbs.month.name }}</a></li>
            <li class="active">{{ breadcrumbs.day.name }}</li>
        {% endif %}
    {% endif %}
</ol>
