<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% endblock %}

    <link rel="stylesheet" href="{{ theme.uri }}/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme.uri }}/style.css">
    {{ wp_head }}
</head>
<body>
{% include 'partials/header.twig' %}
<main>
    {% block breadcrumbs %}
        {% include 'partials/breadcrumbs.twig' %}
    {% endblock %}

    {% block content 'Sorry, no content' %}
</main>
{{ wp_footer }}
<div class="blog-masthead">
    <div class="container">
        {% include 'partials/menu/footer-menu.twig' %}
    </div>
</div>
</body>
</html>
